<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Diego A. Rodríguez | Web developer</title>

    <link rel="stylesheet" href="css/style.css" />
    <!-- <link rel="stylesheet" href="css/dev.css" /> -->

    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/dd05174127.js"
      crossorigin="anonymous"
    ></script>

    <!-- axios -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->

    <!-- SweetAlert2 -->
    <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"
        }
      }
    </script>
  </head>

  <body @scroll="scrollHandler">
    <div id="app">
      <header>
        <div
          class="fixed z-20 flex h-[80px] w-full items-center justify-between px-4 text-shade-light-500 opacity-90 md:bg-primary-500 md:shadow-lg"
        >
          <div class="hidden md:block"></div>

          <nav
            class="hidden w-full flex-col items-center justify-center gap-8 text-xl font-semibold uppercase md:flex md:h-full md:w-auto md:flex-row"
          >
            <a class="w-full" :href="item.link" v-for="item in menu"
              >{{ item.title }}</a
            >
          </nav>
          <label class="switch">
            <input
              type="checkbox"
              v-model="darkMode"
              @change="toggleDarkMode"
            />
            <span class="slider round"></span>
          </label>

          <mobile-menu :menu="menu"></mobile-menu>
        </div>
      </header>

      <main>
        <section id="hero">
          <div
            class="container relative flex items-center justify-center py-20 px-8 sm:px-8 md:px-12 md:pt-[120px] lg:h-screen lg:justify-start lg:py-0"
          >
            <Transition
              name="custom-classes"
              enter-active-class="transition-opacity duration-700"
              leave-active-class="transition-opacity duration-700"
              enter-from-class="opacity-0"
              enter-to-class="opacity-100"
              leave-from-class="opacity-100"
              leave-to-class="opacity-0"
            >
              <div
                class="light fixed -top-20 right-0 -z-50 aspect-square h-auto w-full -rotate-90 lg:top-0 lg:h-full lg:w-auto lg:rotate-0"
                v-show="pagePosition == 'HEADER'"
              ></div>
            </Transition>
            <div
              class="flex max-w-[1200px] flex-col items-center justify-center gap-y-4 gap-x-8 lg:flex-row"
            >
              <img
                class="w-40 rounded-full shadow md:w-60 xl:w-72"
                src="img/profile-pic.png"
                alt="Profile Picture"
                loading="lazy"
              />
              <div
                class="flex flex-col items-center gap-2 text-center lg:items-start lg:text-left"
              >
                <h2 class="text-2xl font-semibold lg:text-4xl">
                  Diego A. Rodríguez
                </h2>
                <h3
                  class="text-3xl font-bold uppercase text-primary-500 dark:text-accent-light-500 lg:text-4xl xl:text-5xl"
                >
                  {{es.profile}}
                </h3>
                <div
                  class="flex flex-col gap-2 text-accent-dark-500 dark:text-shade-light-500 lg:text-xl xl:text-2xl"
                >
                  <p v-for="p in es.bio">{{ p }}</p>
                </div>
                <div
                  class="mt-4 flex h-full items-center justify-between gap-4 text-xl"
                >
                  <a
                    class="w-12"
                    href="https://github.com/diegordgz8"
                    target="_blank"
                  >
                    <img
                      :src="darkMode ? 'img/logos/github-mark-white.svg' : 'img/logos/github-mark.svg'"
                    />
                  </a>
                  <a
                    class="w-12"
                    href="https://linkedin.com/in/diegordgz8"
                    target="_blank"
                  >
                    <img src="img/logos/linkedin.png" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="works">
          <!-- Works (incluir los proyectos que he hecho. Recomendable copiar una web existente. No colocar más de 10 trabajos y escoger los mejores y más llamativos) -->
          <div class="container py-12 sm:px-4 md:px-8 lg:py-16 xl:px-12">
            <h1 class="section-title">Trabajos y proyectos</h1>
            <div class="grid gap-x-8 gap-y-12 xl:grid-cols-2">
              <project v-for="item in projects" :project="item"></project>
            </div>
          </div>
        </section>
        <section id="about">
          <!-- About (resumen como en LinkedIn, contar sobre la experiencia y link a GitHub) -->
          <div class="container py-12 sm:px-4 md:px-8 lg:py-16 xl:px-12">
            <h1 class="section-title">Experiencia y Habilidades</h1>
            <div class="flex w-full flex-col gap-x-12 gap-y-8 md:flex-row">
              <ul class="flex flex-col gap-8 md:w-1/2 lg:w-2/5">
                <li class="flex items-center" v-for="item in es.skills">
                  <i
                    class="far fa-lightbulb mr-4 text-4xl text-accent-dark-500"
                  ></i>
                  <h2 class="font-semibold uppercase md:text-left lg:text-2xl">
                    {{ item }}
                  </h2>
                </li>
              </ul>
              <div
                class="grid grid-cols-3 gap-6 sm:grid-cols-4 md:w-1/2 md:grid-cols-3 lg:w-3/5 lg:grid-cols-4 xl:grid-cols-6"
              >
                <a
                  class="transition-transform duration-500 lg:hover:scale-110"
                  v-for="item in technologies"
                  :href="item.url"
                >
                  <img
                    class="aspect-square w-full object-contain object-center"
                    :src="'img/skills/'+item.img"
                    :alt="item.name"
                  />
                  <h2 class="py-2 text-center text-xl font-semibold">
                    {{ item.name }}
                  </h2>
                </a>
              </div>
            </div>
          </div>
        </section>
        <section id="contact">
          <!-- Contact (colocar email con dominio, formulario de contacto y enlaces a redes) -->
          <div
            class="container py-12 text-center sm:px-4 md:px-8 lg:py-16 xl:px-12"
          >
            <h1 class="section-title">Contacto</h1>
            <div class="grid gap-8">
              <div class="mx-auto flex gap-4">
                <a
                  class="flex h-12 w-12 items-center justify-center lg:h-20 lg:w-20"
                  href="https://www.linkedin.com/in/diegordgz8"
                  target="_blank"
                >
                  <img src="img/logos/linkedin.png" />
                </a>

                <a
                  class="flex h-12 w-12 items-center justify-center lg:h-20 lg:w-20"
                  href="https://www.github.com/diegordgz8"
                  target="_blank"
                >
                  <img
                    :src="darkMode ? 'img/logos/github-mark-white.svg' : 'img/logos/github-mark.svg'"
                  />
                </a>
              </div>

              <div class="flex items-center justify-center">
                <img
                  class="hidden w-[1000px] rounded-lg lg:block"
                  src="img/developing.jpg"
                  alt="Developing"
                />
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer class="mt-8">
        <div
          class="flex h-[90px] w-full flex-col items-center justify-center bg-primary-500 text-center text-shade-light-500 opacity-90 md:h-[70px] md:text-xl"
        >
          <span>Página web desarrollada con Vue.js y TailwindCSS</span>
          <!-- <span class="block">Copyright © {{ getYear() }}</span> -->
        </div>
      </footer>

      <Transition
        name="custom-classes"
        enter-active-class="transition-opacity duration-700"
        leave-active-class="transition-opacity duration-700"
        enter-from-class="opacity-0"
        enter-to-class="opacity-100"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
      >
        <div
          class="fixed bottom-8 right-8 z-10 hidden flex-col items-end gap-4 lg:flex"
          v-show="pagePosition == 'BODY'"
        >
          <a class="w-12" href="https://github.com/diegordgz8" target="_blank">
            <img
              :src="darkMode ? 'img/logos/github-mark-white.svg' : 'img/logos/github-mark.svg'"
            />
          </a>
          <a
            class="w-12"
            href="https://linkedin.com/in/diegordgz8"
            target="_blank"
          >
            <img src="img/logos/linkedin.png" />
          </a>
        </div>
      </Transition>
    </div>

    <script type="module">
      import { createApp } from "vue";
      import App from "./app.js";

      createApp(App).mount("#app");
    </script>
  </body>
</html>
